html
{
    height: 100%;
}
.hbox
{   min-width: 180px;
    background-color: blue;
    width:26vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 1px;
    color: white;
    margin-bottom: 50px;
}
body
{
    background-color: rgb(134, 212, 243);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.notes>li::before
{
  content: " ";
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  margin-right: 0.8rem;
  background-image: url("https://cdn3.iconfinder.com/data/icons/arrows-160/96/uncheckedV_circle-512.png");
  background-size: cover;
  background-repeat: no-repeat;  
}
.notes>li.checked::before
{
  content: " ";
  display: inline-block;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  margin-right: 0.8rem;
  background-image: url("https://www.nicepng.com/png/detail/443-4439064_blue-check-mark-icon-png-check-mark-circle.png");
  background-size: cover;
  background-repeat: no-repeat;  
}
.notes>li{
    display: flex;
    position: relative;
    align-items: center;
    padding-right: 2rem;
    word-break: break-all;
}
.notes>li.checked
{
    text-decoration: line-through;
    opacity: 0.5;
}
ul li span
{   position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
ul li span:hover
{
    background-color: lightgray;
}
.foot
{
   margin-top: auto;
}

@media screen and (max-width:767px) {
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}